
.Form__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  /*max-width: 26.5rem;*/
  /*width: 100%;*/
  height: 100vh;
}

.form:nth-child(1) {
  margin-top: 2.25rem;
}

.btn {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #333333;
  padding: 10px 116px;
  border: none;
  cursor: pointer;
}

.btn.btn_color-yellow {
  margin-bottom: 12px;
  margin-top: 4px;
}

.btn_color-yellow {
  background: #FFCE0C;
  border-radius: 4px;
}

.Login__reg-href {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  align-self: flex-start;
  color: #3167BA;
}

.btn:hover {
  background: #FFD73B;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.btn:active {
  background: #FFC40C;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.12);
  border-radius: 4px;

}

.btn:focus {
  background: #FFCE0C;
  border: 1px solid #FFFBEA;
  box-sizing: border-box;
  box-shadow: 0 1px 10px #FFD73B;
  border-radius: 4px;
  outline: 0;
}

.btn:disabled {
  background: #FFCE0C;
  border-radius: 4px;
  opacity: 0.5;
  cursor: auto;
}

.Input {
  position: relative;
  max-width: 435px;
  width: 100%;
  padding-bottom: 0.75rem;
}

.Input input {
  width: 100%;
  max-width: 435px;
  height: 36px;
  background: #FFFFFF;
  border: 1px solid #D6DCE9;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: Open Sans sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #6879BB;
  padding: 6px 12px;
}

.Input.invalid input:focus{
  color: #EE4141;
}

.Input input:focus {
  background: #FFFFFF;
  border: 1px solid #415FD5;
  box-sizing: border-box;
  border-radius: 4px;
  outline: auto;
}

.input-error-message {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #EE4141;
}
