.Layout {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.Layout main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.Pages__body {
  padding-top: 1rem;
  background:#EBF2FB;
  width: 100%;
  height: 100vh;
  overflow: auto;

}


